.menu {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 50%;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 1px solid black;
}

.result {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 50%;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 1px solid black;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.2);
}

.game {
    display: flex;
    flex-direction: column;
    height: 95vmin;
}

.game__header {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.game__title {
    flex: 2;
    border: 1px solid black;
}

.game__player {
    flex: 1;
    border: 1px solid black;
}

.game__score {
    flex: 1;
    border: 1px solid black;
}

.game__container {
    flex: 6;
    position: relative;
}

.game__board {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-rows: 20vmin 20vmin 20vmin;
    grid-template-columns: 20vmin 20vmin 20vmin;
    text-align: center;
    font-size: 18vmin;
}

.game__cell {
    border: 1px solid rgb(199, 184, 141);
    margin: 1%;
    border-radius: 5%;
    background-color: rgb(194, 179, 137);
}

.game__buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 40vmin;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.game__button {
    flex: 1;
    border: 1px solid black;
    padding: 5%;
    margin: 2%;
    border-radius: 2%;
}